
.titre-vue {
    -fx-font-size: 20;
    -fx-font-family: Amaze;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(255,255,255,1);
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.9),10,0,0,0);
}


.message-accueil {
    -fx-background-color: rgba(141,141,199,1);
    -fx-padding: 10;
    -fx-border-color: white; 
    -fx-border-width: 1;
    -fx-border-radius: 1;
}

.barre-fonctionalites{
	-fx-background-color: rgba(0,0,0,0.7);
}

.arriere-plan{
	-fx-background-color: rgba(128,128,192,0.2);
}

.photo_arriere_plan{
	-fx-background-image: url('arriere_plan.jpg');
	-fx-background-size: 120%;
}

.button:hover{
	-fx-background-color: rgba(64,64,0,0.4);
	-fx-font-weight: bold;
	-fx-text-fill: rgba(255,255,255,1);
}

.label_de_listes{
	-fx-font-size: 12;
	-fx-font-weight: bold;
	-fx-text-fill: rgba(255,255,255,1);
	-fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.9),10,0,0,0);
}

.pseudo_mail_text{
	-fx-font-weight: bold;
	-fx-font-size: 13;
	-fx-text-fill: rgba(255,255,255,1);
	-fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.9),10,0,0,0);
}



